<html>
    <head>
        <title><b>Lottery</b></title>
    </head>
    <body style="background-color:rgb(153, 230, 255);">
        <div class='form'>
            <form method='POST'action=''>
                {{ form.hidden_tag() }}
                {{ form.name.label }} {{ form.name }}
                <br>
                {{ form.submit }}
            {{ message }}
            </form>
        </div>
        <br> 
        <br>
        <table style="width:100%">
            <thead>
            <tr>
                <th>Name </th>   
                <th>Full Account Number </th>
                <th>Results </th>
            </tr>
        </thead>
    </body>
    </html>   